__pycache__/
*.py[cod]
*.sqlite3
*.db
*.egg-info/
.eggs/
.cache/
/build/
/dist/
*.log
.coverage
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage.*

.python-version
.venv/
.env.backup
.env.local
.env.production
/data/
.data/
!.data/.gitkeep
.DS_Store
.idea/
.vscode/
.devcontainer/

infra/parameters.dev.json
.env.deploy
.env
